<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Program Metadata</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/main.css">
</head>
<body>

    {{{body}}}

    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.js"></script>
</body>
</html>